.game-card-container {
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    width: 290px;
    height: auto;
    cursor: pointer;
    margin-bottom: 75px;
    transition: .5s;
    position: relative;
}

.card:hover > img {
    filter: blur(1px);
}

.card:hover > button {
    display: block !important;
    opacity: 1 !important;
}

.card img {
    width: 100%;
}

.card button {
    width: 100px;
    height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: rgb(48, 214, 42);
    border: 1px solid rgb(48, 214, 42);
    color: #fff;
    display: none;
    position: absolute;
    top: 62px;
    left: 100px;
    opacity: 0;
    transition: opacity .120s ease-in;
    cursor: pointer;
}

.card button:hover {
    transition: .5s;
    background-color: rgb(50, 196, 45);
    border: 1px solid rgb(50, 196, 45);
}

/******** card-details-btn ************/

.card-details-btn {
    width: 100%;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #444;
    color: #eee;
    position: absolute;
    top: 164px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transition: .9s;
}

.card-details-btn span {
    margin-left: 7px;
}

.card:hover > .card-details-btn {
    opacity: 1 !important;
    display: flex;
}

/** MEDIA **/

@media (max-width: 1230px) {
    .game-card-container {
        grid-template-columns: repeat(auto-fill, 300px);
    }
}